/* Container for the entire layout */
.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Main content styles */
.main-content {
  flex: 1;
  margin-left: 280px; /* Same width as the sidebar to avoid overlap */
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-right: -1.5%;
  margin-top: -1%;
}
